{% extends 'base.html' %}
{% block content %}
<div class="container" id="page">
    <div class="page-header">
        <h1>
            Личный кабинет
            <div style="margin-top:10px" role="toolbar" class="btn-toolbar float-right">

            </div>
            <div class="clearfix"></div>
        </h1>
    </div>
    <div class="row">
        <div class="col-sm">
            <br>
            <p>
                Добро пожаловать в личный кабинет студента.
            </p>
            <p>Чтобы загрузить свои работы, пройдите в раздел "Список работ" в меню страницы.</p>
        </div>
    </div>
</div>
{% endblock %}