{% extends 'base.html' %}
{% block content %}

<div class="container" id="page">
    <div class="row justify-content-center ">
        <div class="form" style="position: fixed; top: 30%;">
            <form method="post" >
                {% csrf_token %}
                <h3 style="margin-bottom:20px;">Удалить "{{ object.name }}"?</h3>
                <div class="btn-toolbar justify-content-center" role="toolbar">
                    <button class="btn btn-danger" type="submit">Удалить</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}