{% extends 'base.html' %}
{% block content %}
<div class="container" id="page">
    <div class="page-header" style="margin-bottom:20px">
        <h1>
            ВКР, курсовые работы, практики
            <div class="clearfix"></div>
        </h1>
    </div>
    <div class="row">
        <div class="col-sm-3">
            {% if user.is_staff %}
            <a style="margin-top:25.5px" class="btn btn-primary btn-sm btn-block float-left"
               href="{% url 'works:new_work_page' %}"><span
                    class="glyphicon glyphicon-eye-open"></span>
                Добавить работу
            </a>
            {% endif %}
        </div>
        <div class="col-sm-9">
            <table class="table table-striped table-hover">
                <thead>
                <tr>
                    <th></th>
                </tr>
                </thead>

                <tbody>
                {% if not works.exists %}
                <div><tr>
                    <td>
                        <div style="margin-bottom:2px">Нет доступных работ у данного пользователя.</div>
                    </td>
                </tr></div>
                {% else %}
                    {% for work in works %}
                    <tr>
                        <td>
                            <a class="btn btn-outline-primary float-right" href="{% url 'works:work_page' work.pk %}"><span
                                    class="glyphicon glyphicon-eye-open"></span>
                                Изменить
                            </a>
                            <div style="margin-bottom:2px"><strong>{{ work.name }}</strong>.</div>
                            <div style="margin-bottom:2px">
                                {% if user.is_staff %}
                                Студент <strong> {{ work.owner }}</strong>
                                {% else %}
                                Руководитель <strong>{{ work.scientific_director }}</strong>
                                {% endif %}
                            </div>
                            <div style="margin-bottom:2px"><strong> {{ work.work_type.name }}</strong>
                            </div>
                            <div style="margin-bottom:2px">
                                {% if work.file %}
                                <span class="badge bg-success text-dark">Работа принята</span>

                                <div>
                                    Работа загружена: {{ work.upload_date|date:"d.m.Y" }}
                                </div>
                                {% else %}
                                <span class="badge bg-primary text-dark">На ознакомлении у студента</span>
                                {% endif %}
                            </div>
                        </td>
                    </tr>
                    {% endfor %}
                <tr><td></td></tr>
                {% endif %}
                </tbody>

            </table>
        </div>
    </div>
</div>
{% endblock %}