{% extends 'base.html' %}
{% block content %}
<div class="container" id="page">
    <div class="page-header" style="margin-bottom:20px">
        <h1>
            ВКР, курсовые работы, практики
            {% if user.is_staff %}
            <div style="margin-top:10px" role="toolbar" class="btn-toolbar float-right">
                <a  class="btn btn-primary btn-block float-left"
                   href="{% url 'works:new_work_page' %}"><span
                        class="glyphicon glyphicon-eye-open"></span>
                    Добавить работу
                </a>
            </div>
            {% endif %}
            <div class="clearfix"></div>
        </h1>
    </div>
    <div class="row">
        <div class="col-sm-3">
            <form action={% url 'works:works_page_navform' %} method="post">
                {% csrf_token %}
                <p> {{ form.work_type }}</p>
                <p> {{ form.academic_year }}</p>
            <button class="btn btn-primary" type="submit">Найти</button>
            </form>
        </div>
        <div class="col-sm-9">
            <table class="table table-striped table-hover">
                <thead>
                <tr>
                    <th></th>
                </tr>
                </thead>

                <tbody>
                {% if not works.exists %}
                <div><tr>
                    <td>
                        <div style="margin-bottom:2px">Нет доступных работ у данного пользователя.</div>
                    </td>
                </tr></div>
                {% else %}
                    {% for work in works %}
                    <tr>
                        <td>
                            <a class="btn btn-outline-primary float-right"
                               href="{% if user.is_staff %}{% url 'works:staff_work_page' work.pk %}{% else %}{% url 'works:work_page' work.pk %}{% endif %}"><span
                                    class="glyphicon glyphicon-eye-open"></span>
                                Изменить
                            </a>
                            <h4>
                                <div style="margin-bottom:2px"><strong>{{ work.name }}</strong>.</div>
                            </h4>
                            <div style="margin-bottom:2px">
                                {% if user.is_staff %}
                                Студент <strong> {{ work.owner }}</strong>
                                {% else %}
                                Руководитель <strong>{{ work.scientific_director }}</strong>
                                {% endif %}
                            </div>
                            <div style="margin-bottom:2px"><strong> {{ work.work_type.name }}</strong>
                            </div>
                            <div style="margin-bottom:2px">
                                {% if work.is_accepted %}
                                <span class="badge bg-success text-dark">Работа принята</span>

                                <div>
                                    Работа загружена: {{ work.upload_date|date:"d.m.Y" }}
                                </div>
                                {% else %}
                                <span class="badge bg-primary text-dark">На ознакомлении у студента</span>
                                {% endif %}
                            </div>
                        </td>
                    </tr>
                    {% endfor %}
                <tr><td></td></tr>
                {% endif %}
                </tbody>

            </table>
        </div>
    </div>
</div>
{% endblock %}