<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ВКР, курсовые работы, практики</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css    ">
</head>
<body>
<div class="container" id="page">
    <div class="page-header">
        <h1>
            ВКР, курсовые работы, практики
            <div class="clearfix"></div>
        </h1>
    </div>
    <div class="row">
        <div class="col-sm">
            <table class="table table-striped table-hover">
                <thead>
                <tr>
                    <th></th>
                </tr>
                </thead>

                <tbody>
                {% for work in works %}
                <tr>
                    <td><a class="btn btn-outline-primary float-right" href="{{ work.file.url }}" target="_blank"><span
                            class="glyphicon glyphicon-eye-open"></span>
                        Открыть
                    </a>
                        <div style="margin-bottom:2px"><strong>{{ work.name }}</strong>.</div>
                        <div style="margin-bottom:2px"><strong> {{ work.work_type.name }}</strong>,
                            <span>2020-2021</span> учебный год, за 4 курс.
                        </div>
                        <div>
                            Работа загружена: {{ work.upload_date|date:"d.m.Y" }}
                        </div>
                    </td>
                </tr>
                {% endfor %}
                </tbody>

            </table>
        </div>
    </div>
</div>
</body>
</html>